<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pool Program</title>
</head>
<body>
<h1>This is a title</h1>
This is regular text.
This text is in the same line.
<div>This text is not</div>
<div>The current time is {{current_time}}</div>

<a href="/history">History</a>


<form action="/recordtemp">
  <label for="temp_input">Temperature</label><br>
  <input type="number" id="temp_input" name="temperature" value="82.1"><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>